<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple CRM</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          <i class="glyphicon glyphicon-book"></i>
          Simple CRM</a>
        </div>
        
      </div>
    </div>

    <div class="container">        
        <div id="main"></div>
    </div>

    <%= javascript_include_tag "application" %>
</body>
</html>
